/* Projects */
.projects-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  a {
    text-decoration: none;
    transition: border 0.2s ease-in-out;
    border-bottom: 1px solid transparent;
  }
  
  a:hover {
    border-color: rgb(200, 200, 211);
  }
  