body {
  /* credit for body and navbar svgs from Steve Shroger from heropatterns.com */
  /* background-color: #efebf6; */
  background-image: url("./images/texture.svg"),
    linear-gradient(180deg, rgb(48, 44, 44), rgb(48, 44, 44));
  background-size: 400px, auto;
  background-attachment: fixed;
  font-family: "Noto Sans", sans-serif;
}

.header-color {
  background: linear-gradient(
    90deg,
    rgb(45, 51, 51),
    rgb(8, 39, 41),
    rgb(6, 27, 32)
  );

  background: -webkit-linear-gradient(
    90deg,
    rgb(45, 51, 51),
    rgb(8, 39, 41),
    rgb(6, 27, 32)
  );
}

.mdl-navigation__link:hover {
  background-color: rgba(27, 58, 66, 0.7);
  transition: 0.5s ease;
}

/* Navbar */
.mdl-layout-title a {
  color: rgb(255, 255, 0) !important;
}

.mdl-navigation__link {
  color: rgb(255, 255, 0) !important;
  font-size: 1.1rem !important;
  border: none !important;
}

.mdl-navigation__link:hover {
  background: rgb(58, 61, 54) !important;
  border: none !important;
}

.mdl-layout__drawer {
  background: rgb(42, 44, 39) !important;
  border: none !important;
}

@media all and (max-width: 1025px) {
  .mdl-layout__drawer-button {
    color: whitesmoke !important;
  }
}

@media all and (max-width: 800px) {
  /* Landing page bio margin */
  .landing-bio p {
    width: 90% !important;
  }

  /* Projects menu tab */
  .mdl-tabs__tab {
    padding: 0 5px 0 5px !important;
  }

  .mdl-tabs__tab {
    padding: 10px !important;
    text-align: justify;
    text-transform: none !important;
  }
}

@media (min-width: 480px) and (max-width: 839px) {
  .mdl-cell--6-col,
  .mdl-cell--6-col-tablet.mdl-cell--6-col-tablet {
    width: calc(50% - 16px) !important;
  }
}

@media all and (max-width: 700px) {
  .projects-grid {
    flex-direction: column;
  }

  .resume-template {
    width: 100%;
  }
}

@media all and (max-width: 479px) {
  .mdl-grid {
    padding: 0 !important;
  }
}

@media all and (max-width: 350px) {
  .mdl-card {
    width: auto !important;
    height: 450px !important;
  }
}
