body {
  /* credit for body and navbar svgs from Steve Shroger from heropatterns.com */
  background-image: url("./images/texture.svg"),
    linear-gradient(180deg, #5f1c1f, #942228, #fa1420);
  background-size: 400px, auto;
  background-attachment: fixed;
  font-family: "Noto Sans", sans-serif;
}

.header-color {
  background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.18' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E"),
    linear-gradient(
      to right,
      rgb(51, 124, 129),
      rgb(22, 95, 100),
      rgb(2, 62, 77)
    );
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(81, 143, 148),
    rgb(31, 113, 119),
    rgb(1, 80, 100)
  );
}

.mdl-navigation__link:hover {
  background-color: rgba(9, 118, 145, 0.7);
  transition: 0.5s ease;
}

/* Navbar */
.mdl-layout-title a {
  color: rgb(255, 255, 0) !important;
}

.mdl-navigation__link {
  color: rgb(255, 255, 0) !important;
  font-size: 1.1rem !important;
}

.mdl-layout__drawer {
  background: rgb(42, 44, 39) !important;
  border: none !important;
}

@media all and (max-width: 1025px) {
  .mdl-layout__drawer-button {
    color: whitesmoke !important;
  }
}

@media all and (max-width: 800px) {
  /* Landing page bio margin */
  .landing-bio p {
    width: 90% !important;
  }

  /* Projects menu tab */
  .mdl-tabs__tab {
    padding: 0 5px 0 5px !important;
  }

  .mdl-tabs__tab {
    padding: 10px !important;
    text-align: justify;
    text-transform: none !important;
  }
}

@media (min-width: 480px) and (max-width: 839px) {
  .mdl-cell--6-col,
  .mdl-cell--6-col-tablet.mdl-cell--6-col-tablet {
    width: calc(50% - 16px) !important;
  }
}

@media all and (max-width: 700px) {
  .projects-grid {
    flex-direction: column;
  }

  .resume-template {
    width: 100%;
  }
}

@media all and (max-width: 479px) {
  .mdl-grid {
    padding: 0 !important;
  }
}

@media all and (max-width: 350px) {
  .mdl-card {
    width: auto !important;
    height: 450px !important;
  }
}
